---
interface Props {
  label: string;
  options: string[];
  helperText?: string;
}
const { label, options, helperText } = Astro.props;
const id = label.toLowerCase().replace(/\s+/g, '-');
---
<div>
  <label for={id} class="block mb-2 text-sm font-medium text-slate-700">{label}</label>
  <select id={id} name={id} class="bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    {options.map(option => <option>{option}</option>)}
  </select>
  {helperText && <p class="mt-2 text-xs text-slate-500">{helperText}</p>}
</div>